<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Welcome to Find Word in Video</title>
        <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    </head>
    <body>
        <h1>Searching the emotional genre of the song: {{songname}}</h1>
        <h2>The emotional genre was found to most likely be: {{songgenre}}</h2>
        <button><a href="{{ url_for('index') }}">Go Back</a></button>

        <iframe src="{{youtubelink}}"></iframe>

    </body>
</html>